body{
	background-color: #008000;
}	

#main{
	margin: 0 auto;
	position: relative;
	width: 90%;	
}

#words{
	background-color: #e6ffe6;
	border: solid 1px  green;
	float: left;
	height: 720px;	
	overflow-y: scroll;	
	width: 20%;//220px;			
}

#dic{			
	float: left;
	margin-top: 0;
	//margin-left: 225px;	
	width: 79%;
}

iframe{
	background-color: #e6ffe6;
	height: 720px;	
	width: 100%;//850px;	            
}
        
ul{
        display: none;            
}
	
li{
	cursor: pointer;
	list-style-type: circle;
}

li:hover {
  background-color: yellow;
}
        
p{
	background-color: #b3ffb3;
	border-top: solid 1px grey;
	margin: 0;
	cursor: pointer;
        padding: 5px 0 5px 0;
	text-align: center;            
}
        
div#lesson-1 > p {border-top-style: none;}